{% extends "base_template.jinja2" %}
{% block title %}Autorzy{% endblock %}
{% block content %}
    <h1 class="display-6">Project Owner - Dariusz "The cygan" Talik</h1>
    <h1 class="display-6">Lead UI designer and programmer - Mateusz Ziaja</h1>
    <h1 class="display-6">Neural network designer - Hubert Gotfryd</h1>
{% endblock %}